.chekout>div{
    font-size: larger;
    width: 75%;
    box-shadow: 2px 2px 2px 2px rgb(201, 187, 187);
    margin: auto;
    margin-top: 80px;
    height: 100px;
    color: rgb(75, 57, 57);
    padding-bottom: 10px;
}
p{
   float: left;
   font-weight: 600;
   color: rgb(95, 85, 85);
   padding-bottom: 19px;
}
.chekout{
    padding-top: 50px;
}